<!-- For the rental page -->
<table>
  <caption>Rental Options</caption>
  <tr>
    <th>Name</th>
    <th>Cost per hour</th>
    <th>Location</th>
    <th>Availability</th>
  </tr>
  <tr>
    <td>Electric bicycle EB2</td>
    <td>Electric bicycle E-Wild C2</td>
    <td>Electric Scooter Urban T2</td>
    <td>Electric Scooter Transporter</td>
    <td>Electric Scooter C35</td>
  </tr>
  <tr>
    <td>20</td>
    <td>20</td>
    <td>25</td>
    <td>20</td>
    <td>20</td>
  </tr>
  <tr>
    <td>{{{address}}}</td>
    <td>{{{address}}}</td>
    <td>{{{address}}}</td>
    <td>{{{address}}}</td>
    <td>{{{address}}}</td>
  </tr>
  <tr>
    <td>{{{isAvailable}}}</td>
    <td>{{{isAvailable}}}</td>
    <td>{{{isAvailable}}}</td>
    <td>{{{isAvailable}}}</td>
    <td>{{{isAvailable}}}</td>
  </tr>
</table>