  <caption>Rental Options</caption>
  <div class="rentals-list">
  {{#each vehicles as |vehicle|}}
    {{#if vehicle.isAvailable}}
    <div>
    <div class="rental-card">
      <p>{{vehicle.vehicleType}}</p>
      <p id="available">AVAILABLE</p>
      <p>{{vehicle.location}}</p>
      <button type="rent">Rent Now!</button>
    </div>
    </div>
  {{/if}}
  {{/each}}
  </div>



{{!-- <!-- For the rental page -->
  
<body>

  <h1>Choose your Rental</h1>

  <form>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
    <label for="vehicle1"> Electric bicycle EB2</label><br />
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car" />
    <label for="vehicle2"> Electric bicycle E-Wild C2</label><br />
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" />
    <label for="vehicle3"> Electric Scooter Urban T2</label><br /><br />
    <input type="submit" value="Submit" />
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
    <label for="vehicle1"> Electric Scooter Transporter</label><br />
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
    <label for="vehicle1"> Electric Scooter C35</label><br />
  </form>

  <div class="prices">

    <table>
      <caption>Rental Options</caption>
      <tr>
        <th>Name</th>
        <th>Cost per hour</th>
        <th>Location</th>
        <th>Availability</th>
      </tr>
      <tr>
        <td>Electric bicycle EB2</td>
        <td>Electric bicycle E-Wild C2</td>
        <td>Electric Scooter Urban T2</td>
        <td>Electric Scooter Transporter</td>
        <td>Electric Scooter C35</td>
      </tr>
      <tr>
        <td>20</td>
        <td>20</td>
        <td>25</td>
        <td>20</td>
        <td>20</td>
      </tr>
      <tr>
        <td>{{{address}}}</td>
        <td>{{{address}}}</td>
        <td>{{{address}}}</td>
        <td>{{{address}}}</td>
        <td>{{{address}}}</td>
      </tr>
      <tr>
        <td>{{{isAvailable}}}</td>
        <td>{{{isAvailable}}}</td>
        <td>{{{isAvailable}}}</td>
        <td>{{{isAvailable}}}</td>
        <td>{{{isAvailable}}}</td>
      </tr>
    </table>
  </div>
</body> --}}
